footer {
  border-top: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  height: 70px;
  margin-top: 15px;
  padding: 15px;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  a {
    color: #000;
    display: inline-block;
    float: right;
    transition: color .2s;

    &:hover {
      color: #d9534f;
    }
  }
}